:root {
  --title-color: #0b0b11;
  --text-color: #ffffff;
  --logo-color: #052978;
  --btn-fon: #bde2ee;
  --border-color: #d9d9d9;
}

.a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}
body {
  font-family: "Montserrat", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.conteiner {
  padding-left: 178px;
  padding-right: 178px;
  padding-bottom: 109px;

  margin: 0 auto;
}

/* ---------------header--------------- */
.header {
  padding-top: 30px;
  padding-bottom: 85px;
  background-image: url(../img/BackMain.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 260px;
  margin-bottom: 10px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: var(--title-color);
}
.header-conteiner {
  display: flex;
  align-items: flex-end;
}

.header-wrapper {
}

.header-title {
  margin-top: 110px;

  font-weight: 700;
  font-size: 72px;
  line-height: 1.22;
  text-transform: uppercase;

  color: var(--title-color);
}
.header-text {
  width: 456px;
  margin-bottom: 15px;
}

.header-info-one {
  display: flex;
  align-items: center;
  gap: 34px;
}

.header-info-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.07em;

  color: var(--title-color);
}
.header-button {
  margin-top: 52px;
  width: 255px;
  height: 60px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;

  color: var(--text-color);
  background: var(--logo-color);
  border-radius: 14px;
}

/* -------greeting------------ */

.greeting {
  margin-bottom: 109px;
  width: 1110px;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  justify-content: center;
  color: var(--title-color);
}

/* ----------use---------------- */

.use {
  display: flex;

  gap: 30px;
}
.use-item {
  width: calc((100%-90px) / 3);
  text-align: center;
}
.use-title {
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.07em;
  color: var(--title-color);
}
.use-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

/* -------------info--------------- */

.info {
  background-image: url(../img/Backmiddle.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.info-title {
  margin-bottom: 32px;
  color: var(--logo-color);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}
.info-text {
  margin-bottom: 30px;
  color: var(--title-color);
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* ------------ */

table {
  margin-top: 48px;
  border-collapse: collapse;
}

table td {
  padding: 20px;
}

table td:first-child {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
}

table th {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.96px;
}
.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-btn {
  margin-top: 109px;
  margin-bottom: 109px;
  width: 350px;
  height: 60px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;

  color: var(--text-color);
  background: var(--logo-color);
  border-radius: 14px;
}

/* ---------application------------- */
.application {
}

.application-title {
  margin-bottom: 109px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}
.application-list {
}

.application-item {
  margin-bottom: 109px;
  display: flex;
  align-items: center;
  gap: 120px;
}
.application-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.application-img {
}
.application-info {
}
.application-pretitle {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.96px;
}
.application-text {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.application-btn {
  width: 212px;
  height: 60px;
  padding: 16px 50px;
  border-radius: 14px;
  border: none;
  background-color: var(--btn-fon);
  font-size: 22px;
  font-weight: 400;
  color: var(--title-color);
}

.amount {
}
.amount-title {
  margin-bottom: 32px;
  color: var(--logo-color);
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}
.amount-text {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.amount-list {
  display: flex;
  gap: 146px;
}

.amount-item {
  font-size: 25px;

  font-weight: 600;

  letter-spacing: 1.96px;
}
.amount-pretitle {
  margin-bottom: 32px;
  text-align: center;
}
